.simonSkeleton {
	margin-left: 500px;
	margin-top: 150px;
}

.coloredButton {
	border: 1px solid black; 
    width: 150px; 
    height: 150px; 
    float: left;    
}

.coloredButton:nth-child(2n+1) {
	float: left;
	clear: left;
}

#green {
	background-color: green;
	opacity: .5;
}

#red {
	background-color: red;
	opacity: .5;
}

#yellow {
	background-color: yellow;
	opacity: .5;
}

#blue {
	background-color: blue;
	opacity: .5;
}

