html body{
	background-color: black;
}

.container {
	margin: 0;
	padding: 0;
}

.simonSkeleton {
	margin-left: 400px;
	margin-top: 150px; 
	border-radius: 100%;
}

.coloredButton {
	border: 1px solid black; 
    width: 150px; 
    height: 150px; 
    float: left;   
}

.coloredButton:nth-child(2n+1) {
	float: left;
	clear: left;
}

#green {
	background-color: green;
	opacity: .25;
	border-top-left-radius: 100%;
}

#red {
	background-color: red;
	opacity: .25;
	border-top-right-radius: 100%;
}

#yellow {
	background-color: yellow;
	opacity: .25;
	border-bottom-left-radius: 100%;
}

#blue {
	background-color: blue;
	opacity: .25;
	border-bottom-right-radius: 100%;
}

